.center {
  padding: 40px 15px;
  text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #f5f5f5;*/
  background: url(/assets/images/paper.jpg) repeat rgb(255, 255, 255); 
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 30px 15px 0;
  width: 98%;
}
.container .text-muted {
  margin: 20px 0;

}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  
}

.footer > .container > .text-muted{
  color: green;
}

#content{
  background: url(/assets/images/paper2.gif) repeat rgb(255, 255, 255); 
  filter: alpha(opacity=40);
  font-family: tahoma;
  font-size: initial;
  height: 85%;
}

body { 
  background: url(/assets/images/paper.jpg) repeat rgb(255, 255, 255); 
  /*-webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;*/
}
