<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="eternote">
<meta name="description" content="Edit documents collaboratively in real-time!">
<meta name="keywords" content="eternote,notepad,notepad online,realtime, cloud,notes,save notes,cloud notepad">
	<title>Eternote: share your notes in the eternity cloud</title>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/takenote.css">
	<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon">

</head>

<body class="ethereal-background">

	<div class="container center">
		<div class="form-group">
			<h1>Enter a note name</h1>
			<input id="note" type="text" class="form-control" id="note" placeholder="Note name">
		</div>
		<button id="go" class="btn btn-success">Go</button>


		<h2>Edit documents collaboratively in real-time</h2>
	</div>

	<div class="container center">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Largo Ads Note -->
		<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-8642247601889590" data-ad-slot="9039201060"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<div class="container center">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Footer Ad -->
		<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-8642247601889590" data-ad-slot="1755743468"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<footer class="footer">
		<div class="container">

			<p class="text-muted">
				<strong>Eternote &copy; 2015</strong>
			</p>
		</div>

	</footer>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/socket.io-1.3.7.js"></script>
	<script src="components/index/index.js"></script>
	<!--GoogleAnalytics-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72114803-1', 'auto');
  ga('send', 'pageview');

	</script>
</body>

</html>